{% extends "layout.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div id="form_container">
        <form action="" method="POST" id="post_form">
            <div class="test">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div id="button_container">
                <p><input type="submit" id="login_button" value="Login" class="btn btn-default"></p>
                <p><a href="{% url 'accounts:signup' %}"><div id="signup_button" class="btn btn-default">Sign Up</div></a></p>
            </div>
        </form>
    </div>
{% endblock %}