<!-- POTENTIALLY UNNECESSARY - RESEARCH -->

{% extends "layout.html" %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
{% endblock %}

{% block title %}
    Loginfefsedfsdf
{% endblock %}

{% block content %}
    <div>
        <form method="POST">
            dsfd
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" id="login_button" value="Login" class="btn btn-default">
        </form>
    </div>

    <div>
        <a href="{% url 'accounts:signup' %}">Sign Up</a>
    </div>

{% endblock %}