/**

SHARED SPREADSHEET ACROSS ALL CSS/HTML FILES

**/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400,400italic,700);

/** ==============================
                LOGO
================================== */

#logo {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #ffd139;
    border-radius: 150px;
    margin-left: 25px;
}

.div2 {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffd139;
    border-radius: 100px;
}

/** ==============================
        NAVIGATION BAR
================================== */

#nav_right a:hover {
    color: #ffd139;
}

nav {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#title {
    color: #8699CC;
    font-weight: bold;
    font-size: 3em;
}

#nav_left li {
    display: inline-block;
    padding: 0px 10px;
}

#nav_right a, #title a {
    text-decoration: none;
    color: #8699CC;
}

#nav_right li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 10px 15px;
    color: #8699CC;
}

#link_active a {
    color: #ffd139;
}

/* ================================
       TEXTAREA SCROLL BAR
================================== */

textarea::-webkit-scrollbar {
    width: .5em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ffd139;
    outline: 1px solid slategrey;
}