{% extends "layout.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Homepage{% endblock %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}
{% block content %}
    <div id="main_divider"></div>
<h1 id="prompt">Question?</h1>

    <div class="row">
    {% if messages %}
        {{ message }}
        {% endif %}
    </div>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %} <!-- provide security -->
        <input type="submit" class="btn btn-default">
    </form>

{% endblock %}